* {
  font-family: "Figtree", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

/* ----- Header Styling ----- */

.header-logo {
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  display: flex;
  gap: 1vw;
  align-items: center;
  padding-left: 1.5vw;
}

.logo-image {
  height: 8vh;
  width: auto;
}

.header {
  align-items: center;
  position: fixed;
  background-color: rgb(0, 30, 60);
  color: aliceblue;
  width: 100vw;
  height: 12vh;
  justify-content: space-between;
  display: flex;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-right: 2vw;
}

.user-cover-picture {
  height: 7vh;
  width: auto;
}


/* ----- Main styling ----- */

main {
  background-color: aliceblue;
  width: 100vw;
  height: 88vh;
  margin-top: 12vh;
  justify-content: space-evenly;
  display: flex;
}

.navbar--main {
  background-color: rgba(0, 30, 60, 0.085);
  height: 100%;
  width: 15vw;
  color: rgb(0, 30, 60);
  padding-left: 2vw;
}

.navbar--main ul {
  list-style: none;
}

.navbar--main ul li {
  padding-top: 3.5vh;
}

.navbar--user {
  background-color: rgba(0, 30, 60, 0.085);
  height: 100%;
  width: 15vw;
  color: rgb(0, 30, 60);
  padding-right: 2vw;
}

.navbar--user ul {
  text-align: end;
  list-style: none;
}

.navbar--user ul li {
  padding-top: 3.5vh;
}

.content-display {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}
/* .figtree-header {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
} */